@charset "utf-8";


.yb_conct {
    position: fixed;
    z-index: 9999999;
    top: 300px;
    right: -127px;
    cursor: pointer;
    transition: all .3s ease;
}

.yb_bar ul li {
    width: 180px;
    height: 53px;
    font: 16px/53px 'Microsoft YaHei';
    color: #fff;
    text-indent: 54px;
    margin-bottom: 3px;
    border-radius: 3px;
    transition: all .5s ease;
    overflow: hidden;
}

.yb_bar .yb_top {
    background: #68a03a url(images/rightbar.png) no-repeat 0 0;
}

.yb_bar .yb_phone {
    background: #68a03a url(images/rightbar.png) no-repeat 0 -57px;
}

.yb_bar .yb_phone a {
    color: #fff
}

.yb_bar .yb_QQ {
    text-indent: 0;
    background: #68a03a url(images/rightbar.png) no-repeat 0 -113px;
}

.yb_bar .yb_ercode {
    background: #68a03a url(images/rightbar.png) no-repeat 0 -169px;
}

.hd_qr {
    padding: 0 29px 25px 29px;
}

.yb_QQ a {
    display: block;
    text-indent: 54px;
    width: 100%;
    height: 100%;
    color: #fff;
}