@charset "utf-8";


@media screen and (max-width: 1200px) {
    .mainbox0 dl dd {
        float: right;
        width: 60%;
    }

    .wappro {
        display: block;
    }

    .hexpert02 {
        display: none
    }
}


@media screen and (max-width: 1024px) {

    .mainnav a, .mainnav a:link, .mainnav a:visited {
        padding: 0 2.1%;
        height: 42px;
        line-height: 42px;
        text-align: center;
        color: #000;
        font-size: 14px;
        text-decoration: none;
    }

    .mainbanner {
        height: 400px;
    }


    .mainbox0 dl dt {
        float: left;
        width: 30%;
    }

    .mainbox0 dl dd {
        float: right;
        width: 67%;
    }


    .positioninfo {
        font-size: 20px;
    }


    .menucp a, .menucp a:link, .menucp a:visited {
        display: block;
        width: 31%;
        float: left;
        line-height: 40px;
        padding: 0 0;
        margin: 3px 1%;
    }

    .menu3 h3 {
        width: 18%;
    }

    .menu4 ul a {
        width: 18%;
    }


    .info_list {
        padding: 20px 0 0 0;
        overflow: hidden;
    }

    .info_list ol.head span.title {
        width: 100%;
    }

    .info_list ol.head span.views {
        display: none;
    }

    .info_list ol.head span.date {
        display: none;
    }

    .info_list ol {
        overflow: hidden;
    }

    .info_list ol.info a.title {
        width: 100%;
    }

    .info_list ol.info span.views {
        display: none;
    }

    .info_list ol.info span.date {
        display: none;
    }

    .product_list ul li {
        float: left;
        width: 30%;
        padding: 5px 1% 10px 2%;
    }

    .info_listimg ul li {
        float: left;
        width: 30%;
        padding: 5px 1% 5px 2%;
    }


    .mainbox4box {
        clear: both;
        width: 100%;
        background: url(images/chanpinbg.gif) no-repeat bottom center;
        height: 280px;
    }


}


@media screen and (max-width: 1002px) {
    .mainnav a, .mainnav a:link, .mainnav a:visited {
        padding: 0 1.9%;
        height: 42px;
        line-height: 42px;
        text-align: center;
        color: #000;
        font-size: 14px;
        text-decoration: none;
    }
}


@media screen and (max-width: 920px) {


    .mainnav a, .mainnav a:link, .mainnav a:visited {
        padding: 0 1.5%;
        height: 42px;
        line-height: 42px;
        text-align: center;
        color: #000;
        font-size: 14px;
        text-decoration: none;
    }


    .mainbox0 dl dt {
        float: left;
        width: 30%;
    }

    .mainbox0 dl dd {
        float: right;
        width: 67%;
    }

    .cpmenu {
        width: 94%;
    }

    .cpmenu ul a {
        display: block;
        float: left;
        width: 33%;
        margin: 0 0 1% 0;
    }

    .linkbox strong {
        float: left;
        font-size: 21px;
        color: #fff;
        width: 10%;
        padding: 10px 0 0 0;
    }

}


@media screen and (max-width: 859px) {

    .headerpage {
        clear: both;
        width: 100%;
        height: 161px;
        margin: 0 auto 0 auto;
        padding: 0;
        background: #ffffff url(images/toubg.jpg) no-repeat top center;
    }


    .tou {
        clear: both;
        overflow: hidden;
        max-width: 1200px;
        margin: 0px auto 0 auto;
        padding: 0px 0 0px 0;
        height: 32px;
        line-height: 35px;
        color: #FFFFFF;
    }

    .touleft {
        float: none;
        font-size: 12px;
        text-align: center;
        width: 100%;
    }

    .touleft a {
        color: #FFFFFF;
        padding-top: 8px;
    }

    .tou .websearch {
        display: none
    }

    header .logo {
        float: left;
        width: 42%;
    }

    header .headright {
        width: 100%;
        background: #6ca228;
    }

    header .toptel {
        float: right;
        text-align: right;
        padding: 30px 0 0 0;
        width: 47%;
    }


    .mainnav {
        clear: both;
        padding: 0px 0 0 0;
        text-align: right;
        overflow: auto;
    }

    .mainnav a, .mainnav a:link, .mainnav a:visited {
        padding: 0 8%;
        line-height: 42px;
        text-align: center;
        color: #fff;
        font-size: 16px;
        text-decoration: none;
    }

    .mainnav a:hover, .mainnav a.active, .mainnav a.active:link, .mainnav a.active:visited {
        color: #fff;
        font-weight: bold;
        background: #52880f
    }

    .nav {
        display: none
    }


    .mainbannerpage {
    }

    .mainbanner {
        height: 400px;
    }


    .mainbox0 dl dt {
        float: none;
        width: 94%;
        text-align: center;
        margin: 0 auto;
    }

    .mainbox0 dl dt img {
        border: 2px solid #ddd;
        padding: 4px;
        width: 96%;
    }

    .mainbox0 dl dd {
        float: none;
        width: 94%;
        padding: 3% 3% 0% 3%;
        margin: 0 auto;
        background: url(images/aboutbg.jpg) repeat-y center bottom;
    }


    .sybiaoti {
        width: 364px;
        margin: 5% auto 0px auto;
        text-align: center;
    }

    .sybiaoti span {
        font-size: 18px;
        height: 45px;
    }

    .sybiaoti a, .biaoti a:link, .biaoti a:visited {
        font-size: 21px;
    }


    .jjbiaoti {
        width: 364px;
        margin: 1% auto 1% auto;
        text-align: center;
    }

    .jjbiaoti span {
        font-size: 18px;
        height: 45px;
    }

    .jjbiaoti a, .biaoti a:link, .biaoti a:visited {
        font-size: 21px;
    }


    .cpmenu ul a {
        font-size: 13px;
        font-weight: none;
    }

    .chnapinbox a {
        width: 48%;
        margin: 0 1% 10px 1%;
    }

    .newsbox {
        clear: both;
        overflow: hidden;
        max-width: 1200px;
        margin: 0px auto 10px auto;;
    }

    .newsbox .xinwen {
        clear: both;
        width: 96%;
        margin-left: 2%;
    }

    .newsbox .xinwen1 {
        clear: both;
        float: left;
        width: 96%;
        margin-left: 2%;
        background-color: #e5e5e5;
    }

    .newsbox .xinwen .biaoti .wenzi {
        font-size: 15px;
    }

    .mainbox4box {
        clear: both;
        width: 100%;
        background: url(images/chanpinbg.gif) repeat-y bottom center;
        height: auto;
        border: 1px solid #6ca228;
    }


    .wappro {
        clear: both;
        margin: 30px auto;
    }

    .wappro a {
        display: block;
        float: left;
        width: 48%;
        margin: 0 0.5% 10px 1%;
        padding-bottom: 4px;
        line-height: 28px;
        text-align: center;
        overflow: hidden;
        color: #ffffff;
    }

    .wappro a img {
        display: block;
        width: 100%;
    }

    .wappro a:hover {
        background: #75c01f;
        text-decoration: none;
    }


    .linkbox strong {
        float: left;
        font-size: 18px;
        color: #fff;
        width: 10%;
        padding: 10px 0 0 0;
    }

    .linkbox p {
        float: right;
        width: 86%;
        border-left: 1px solid #c7c7c7;
        padding: 5px 0 5px 30px;
        line-height: 24px;
    }

    .linkbox p a {
        color: #FFFFFF;
        font-size: 14px;
    }


    .footer .banquan {
        float: none;
        clear: both;
        width: 96%;
        text-align: center;
    }

    .footer dl {
        float: none;
        text-align: center;
        margin: 0 auto;
    }


    .left {
        clear: both;
        width: 100%;
        overflow: hidden;
        padding: 0 0%;
        margin: 0 auto;
    }

    .right {
        clear: both;
        width: 98%;
        margin: 0 auto;
        padding: 0 1%;
        background: #FFF;
    }


    .menu1 h2 {
        display: none
    }

    .menu1 a {
        float: left;
        padding: 0px 3%;
        margin: 5px;
        text-align: center;
    }


    .menucp h2 {
        display: none
    }

    .menucp a {
        float: left;
        width: 46%;
        margin: 5px;
        text-align: center;
    }

    .leftcp {
        display: none
    }

    .lefttel {
        display: none
    }


    .product_view img {
        width: 100%;
    }


    .footer dl {
        display: none
    }

}


@media screen and (max-width: 768px) {
    .mainbanner {
        height: 350px;
    }


    .lianxibox {
        float: none;
        width: 98%;
        padding: 0px 1%;
    }

    .erweima {
        display: none;
    }


    .menucp a, .menucp a:link, .menucp a:visited {
        display: block;
        width: 48%;
        float: left;
        line-height: 40px;
        padding: 0 0;
        margin: 3px 1%;
    }


    .message_add p {
        padding: 3px 0;
        float: none;
        width: 100%;
    }

    .position {
        display: none;
    }

    .positioninfo {
        display: none;
    }


    .product_list ul li {
        float: left;
        width: 48%;
        padding: 5px 1% 10px 1%;
    }

    .info_listimg ul li {
        float: left;
        width: 48%;
        padding: 5px 1% 5px 1%;
    }

    .footmenu {
        clear: both;
        margin: 0 auto;
        line-height: 23px;
        color: #FFFFFF;
        text-align: center;
    }

    .footmenu a {
        color: #4e4d4d;
        padding: 0px 2%;
        font-size: 12px;
    }


}


@media screen and (max-width: 640px) {

    header .logo {
        float: left;
        width: 50%;
    }

    header .toptel {
        float: right;
        text-align: right;
        padding: 30px 0 0 0;
        width: 47%;
    }


    .mainnav {
        clear: both;
        padding: 0px 0 0 0;
        text-align: right;
        overflow: auto;
    }

    .mainnav a, .mainnav a:link, .mainnav a:visited {
        padding: 0 4.5%;
        line-height: 42px;
        text-align: center;
        color: #fff;
        font-size: 16px;
        text-decoration: none;
    }


    .mainbanner {
        height: 200px;
    }

    .menu1 {
        overflow: hidden;
        text-align: center;
        margin: 20px auto 0px auto;
    }


    .anlibox {
        width: 96%;
    }

    .anlibox a {
        width: 46%;
        padding: 0.5% 0.5%;
        margin: 0 1% 1% 1%;
    }

    .cpmenu ul a {
        display: block;
        float: left;
        width: 49.5%;
        margin: 0 0 1% 0;
    }


    .newsbox .xinwen0 {
        display: none
    }


    .linkbox strong {
        float: left;
        font-size: 18px;
        color: #fff;
        width: 20%;
        padding: 10px 0 0 0;
    }

    .linkbox p {
        float: right;
        width: 66%;
        border-left: 1px solid #c7c7c7;
        padding: 5px 0 5px 30px;
        line-height: 24px;
    }

    .linkbox p a {
        color: #FFFFFF;
        font-size: 14px;
    }

}


@media screen and (max-width: 480px) {

    .info_listxw dl dt {
        display: none
    }

    .info_listxw dl dd {
        clear: both;
        width: 98%;
        position: relative;
        padding: 0px 1%;
    }


}


@media screen and (max-width: 360px) {


    .mainnav {
        clear: both;
        padding: 0px 0 0 0;
        text-align: right;
        overflow: auto;
    }

    .mainnav a, .mainnav a:link, .mainnav a:visited {
        padding: 0 4%;
        line-height: 42px;
        text-align: center;
        color: #fff;
        font-size: 15px;
        text-decoration: none;
    }

    .mainbanner {
        height: 150px;
    }

    .wappro a {
        font-size: 14px;
    }

    .menucp {
        margin: 20px auto 0px auto;
    }

    .menucp h2 {
        display: none
    }

    .menucp a {
        float: left;
        width: 46%;
        margin: 5px;
        text-align: center;
        font-size: 13px;
    }


}